@import "variables.css";

body {
    font-family: "WalbaumBook", serif;
    background-color: var(--primary-color-fade);
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
}
#root{
    position: absolute;
    width: 100%;
    height: 100%;
}
.appWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}


.atlas {
    flex-direction: column;
    position: relative !important;
}
.atlas-container, .atlas, .atlas-canvas, .atlas-overlay {
    height: calc(100vh - var(--controls-height) - var(--gallery-height)) !important;
}

.atlas-overlay {
    position: absolute !important;
    overflow: hidden;
}
.atlas-overlay > div {
    transform: none !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
    bottom: 0 !important;
    right: 0 !important;
    top: 0 !important;
}


.gallerie-container {
    order: 2;
}

.gallerie{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: var(--gallery-padding);
    padding: var(--gallery-padding);
    overflow-x: auto;
    flex-grow: 0;
}
.gallerie .item{
    width: 200px;
    height: calc(var(--gallery-height) -  var(--gallery-padding) * 2);
    position: relative;
    flex-shrink: 0;
}
.gallerie .item a, 
.gallerie .item div {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.gallerie .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
    z-index: 1;
}
.gallerie .item .label{
    position: absolute;
    z-index: 2;
    color: white;
    height: auto;
    display: block;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, transparent 0%, #000 100%);
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0.5em;
}
.gallerie span {
    display: block;
}
.gallerie .info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    background-color: var(--dark-layer);
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 0;
}



button {
    text-transform: capitalize;
}

.bt-play{
    z-index: 11;
    position: absolute;
    margin: auto;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.bt-play button{
    width: 100%;
    height: 100%;
}
.bt-play.hide{
    display: none
}



.player {
    position: relative;
    z-index: 1;
    order: 1;
    flex-grow: 1;
    width: 100%;
}
.player h2{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.6;
    color: beige;
    z-index: 20;
    margin: 0;
    text-shadow: 0 0 5px black;
}

.controls {
    height: var(--controls-height);
    margin-bottom: 0 !important;
    padding: 0 20px;
    gap: 20px;
}
#atlas-floating-ui {
    display: none;
    margin-bottom: 0em;
    align-items: center;
}

/**
* info-box
*/
.info-box {
    display: block;
    --info-margin: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--dark-layer);
    z-index: 25;
    color: beige;
    overflow: hidden;
    animation: fadeout 0.5s ease-in forwards;
}
.info-box.open{
    animation: none;
}
.info-content {
    position: absolute;
    top: var(--info-margin);
    left: var(--info-margin);
    border: 0;
    overflow-y: auto;
    width: calc(100% - var(--info-margin) * 2);
    height: calc(100% - var(--info-margin) * 2);
    background-color: var(--primary-color-fade);
    padding: 3em 5em;
}
.info-box .close {
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 0;
    bottom: calc(var(--info-margin) - 2.5em);
    left:  calc(var(--info-margin));
    color: var(--text);
    background-color: var(--secondary-color);
    color: white;
}


/**
* Signature screen
*/

.signature {
/*     display: none; */
    position: fixed;
    width: 100vw;
    height: 100%;
    Overflow: hidden;
    z-index: 200;
    background-color: var(--primary-color-fade);
    background-image: url(/imgs/logo-bibliotheques-royaumont-white.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30vw;
    animation: fadeout 2s ease-in forwards;
}
@keyframes fadeout {
    55% {
		opacity: 1;
	}
    99% {
		opacity: 0;
        height: 100%;
	}
    100% {
        opacity: 0;
        height: 0;
	}
}



/****************************************/
/****************************************/

/**
* Dark mode support
*/

@media (prefers-color-scheme: dark) {

}


/****************************************/
/*			Responsive breaking points			*/
/****************************************/

/**
* wide Screen
*/
@media only screen and (min-width: 1600px) {
    .atlas-overlay > div {
        width: 50% !important;
    }
}

@media only screen and (max-width: 1599px) {
    .atlas-overlay > div {
        width: 50% !important;
    }
}

/**
* computer
*/

@media only screen and (max-width: 1199px) {
    .atlas-overlay > div {
        width: 55% !important;
    }
}

/**
* Small computer, Tablet landscape
*/

@media only screen and (max-width: 1024px) {
    .atlas-overlay > div {
        width: 65% !important;
    }
   
}


/**
* Tablet portrait
*/

@media only screen and (max-width: 768px) {
    .atlas-overlay > div {
        transform: none !important;
        width: 100% !important;
        height: auto !important;
        aspect-ratio: 16/9 !important;
        bottom: 0 !important;
        right: 0 !important;
        top: auto !important;
    }
    .info-box {
        --info-margin: 70px;
    }
}

/**
* Phone landscape ONLY
*/

@media only screen and (max-width: 850px) and (orientation:landscape) {

}

/**
*    Phones
*/

@media screen and (max-width: 500px) {
    .info-box {
        --info-margin: 30px;
    }
    .info-box .close {
        left: calc(var(--info-margin) + 1em);
        bottom: calc(var(--info-margin) + 1em);
        z-index: 100;
    }
}

@media only screen and (max-width: 421px) {

}

.actions.hide{
    display: none;
}

.controls{
    margin-bottom: 3rem;;
}