@import "variables.css";
@import "responsive.css";

/* GENERAL */

* {
    box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    width: 100%;
    font-family: var(--font-text);
    background-color: var(--primary-color-fade);
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    overflow: hidden;
}
#root{
    position: absolute;
    width: 100%;
    height: 100%;
}




/* POSITIONS */

.appWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.atlas {
    flex-direction: column;
    position: relative !important;
}
.atlas-container, .atlas, .atlas-canvas, .atlas-overlay {
    transition: height 1s ease-out;
}
.atlas-container, .atlas, .atlas-canvas, .atlas-overlay {
    height: calc(100vh - var(--controls-height) - var(--gallery-height)) !important;
}
.playing .atlas-container, .playing .atlas, .playing .atlas-canvas, .playing .atlas-overlay {
    height: calc(100vh - var(--controls-height)) !important;
}

.atlas-overlay {
    position: absolute !important;
    overflow: hidden;
}
.video-contenaire {
    height: auto !important;
    aspect-ratio: 16/9 !important;
}



/* GENERAL */


button {
    text-transform: capitalize;
}
button:hover {
    border-color: var(--secondary-color) !important;
}
button:focus {
    outline: 4px auto var(--secondary-color) !important;
}
.home-button {
    z-index: 11;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 1.8rem;
    left: 15px ;
    text-transform: uppercase;
    color: var(--lightest-color);
    cursor: pointer;
    opacity: 0.7;
}
.home-button:hover {
    opacity: 1;
}



/* LE PLAYER */




.player {
    position: relative;
    z-index: 1;
    order: 1;
    flex-grow: 1;
    width: 100%;
}

.player h2 {
/*     display: inline-block;
    background-color: var(--secondary-color); */
    position: absolute;
    font-family: var(--font-title);
    top: 20px;
    right: 20px;
    max-width: 40%;
    height: 30%;
    text-align: right;
    opacity: 0.9;
    color: var(--primary-color-fade);
    z-index: 20;
    margin: 0;
    text-shadow: 0 0 5px black;
    animation: fadesmooth 5s ease-in forwards;
    overflow: hidden;
}
.player h2:hover {
    opacity: 1 !important;
    height: auto !important;
}
@keyframes fadesmooth {
    55% {
		opacity: 0.9;
	}
    99% {
		opacity: 0.4;
        height: 1.5em;
	}
    100% {
        opacity: 0.4;
        height: 1.5em;
	}
}


.bt-play {
    z-index: 11;
    position: absolute;
    margin: auto;
    width: 100px;
    height: 50px;
    top: calc((100vh - var(--controls-height) - var(--gallery-height)) / 2) ;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.playing .btn-play {
    top: calc(100vh - var(--controls-height) / 2);
}

.bt-play button { 
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: white;
}
.bt-play button:hover {
    border-color: white !important;
}
.bt-play.hide{
    display: none
}

.controls {
    height: var(--controls-height);
    margin-bottom: 0 !important;
    padding: 0 20px;
    gap: 10px;
    background-color: var(--primary-color-light);
    transition: all 1s ease-out;
}
.playing .controls {
    background-color: var(--primary-color-dark);
    color: white;
}
#atlas-floating-ui {
    display: none;
    margin-bottom: 0em;
    align-items: center;
}


/**
* hacks player
*/


.controls > div > div:nth-child(2) {
    background: var(--secondary-color) !important;
}
input[type="range"] {
  accent-color: var(--secondary-color);
}
#audio-slider {
    margin-right: 20px;
}
.actions.hide{
    display: none;
}





/* LA GALERIE */

.gallerie-container {
    order: 2;
    overflow: hidden;
}

.gallerie{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: var(--gallery-padding);
    padding: var(--gallery-padding);
    overflow-x: auto;
    flex-grow: 0;
}
.gallerie .item {
    width: 200px;
    height: calc(var(--gallery-height) -  var(--gallery-padding) * 2);
    position: relative;
    flex-shrink: 0;
    background-color: var(--primary-color);
    background-image: var(--soundwave-url);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
}
.gallerie .item.active, .gallerie .item.active:hover {
    box-shadow: 0 0 0 7px var(--secondary-color);
}
.gallerie .item:hover {
    box-shadow: 0 0 0 7px var(--primary-color);
}
.index{
    margin: auto;
    text-align: center;
}
.gallerie .item a, 
.gallerie .item div {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallerie .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
    z-index: 1;
}
.gallerie .item .label{
    position: absolute;
    z-index: 2;
    color: white;
    height: auto;
    display: block;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, transparent 0%, #000 100%);
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0.5em;
}
.gallerie span {
    display: block;
}
.gallerie .info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    background-color: var(--ternary-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 0;
    text-transform: none;
}






/**
* info-box
*/

.info-box {
    display: block;
    --info-margin: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--dark-layer);
    z-index: 25;
    color: beige;
    overflow: hidden;
    animation: fadeout 0.5s ease-in forwards;
}
.info-box.open{
    animation: none;
}
.info-content {
    position: absolute;
    top: var(--info-margin);
    left: var(--info-margin);
    border: 0;
    overflow-y: auto;
    width: calc(100% - var(--info-margin) * 2);
    height: calc(100% - var(--info-margin) * 2);
    background-color: var(--primary-color-fade);
    padding: 3em 5em;
}
.info-box .close {
    z-index: 11000000;
    position: absolute;
    display: block;
    opacity: 0;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 0;
    top: 20px;
    right:  20px;
    background-color: var(--secondary-color);
    color: white;
    animation: fadein 0.5s 0.5s ease-in forwards;
}


/**
* Signature screen
*/

.signature {
/*     display: none; */
    position: fixed;
    width: 100vw;
    height: 100%;
    Overflow: hidden;
    z-index: 200;
    background-color: var(--primary-color-fade);
    background-image: var(--logo-url);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30vw;
    animation: fadeout 2s ease-in forwards;
}
.metadata{
    display: none;
}
@keyframes fadeout {
    55% {
		opacity: 1;
	}
    99% {
		opacity: 0;
        height: 100%;
	}
    100% {
        opacity: 0;
        height: 0;
	}
}
@keyframes fadein {
    55% {
		opacity: 0;
	}
    99% {
		opacity: 1;
	}
    100% {
        opacity: 1;
	}
}

/**
* Cards
*/

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10vh 10vw;
}
.card-container.home {
    height: calc(100vh  - var(--gallery-height));
}
.card {
    display: flex;
    flex-direction: row;
    width: 100%;        /* prend 100% de la largeur du parent */
    height: auto;
    max-height: 80%;
    max-width: 100%;    /* au cas où tu aies un max-width défini ailleurs */
    margin: 0;          /* optionnel : plus de centrage avec margin auto */
    box-sizing: border-box;
    overflow: unset;
    max-width: 1000px;
    margin: auto;
    background: #1b1b1b;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: white;
    padding:0;
}
.card a {
    color: inherit;
    text-decoration: none;
}
.card img {
    width: auto;
    max-width: 40%;
    display: block;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card .content {
    padding: 3em 2em;
    overflow-y: auto;
}

.card h1 {
    font-family: var(--font-title);
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 0 0 1em;
    letter-spacing: 0.03em;
}

.card h2 {
    font-size: 1rem;
    line-height: 1.3;
    margin: 0 0 1em;
    font-weight: 700;
  
}

.card p {
    margin: 0 0 0.7em;
    line-height: 1.5;
    font-size: 0.95rem;
}

.meta {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: 6px;
}

.card .copyright {
    display: inline-block;
    margin-top: 6px;
    padding: 0.5em 1em;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 0.7rem;
    letter-spacing: 0.08em;
    color: #e5e5e5;
}
button.commencer {
    width: 100%;
    margin: 1em 0 2em;
}

