/****************************************/
/****************************************/

/**
* Dark mode support
*/

@media (prefers-color-scheme: dark) {

}


/****************************************/
/*			Responsive breaking points			*/
/****************************************/

/**
* wide Screen
*/
@media only screen and (min-width: 1600px) {
    .atlas-overlay > div {
        width: 50% !important;
    }
}

@media only screen and (max-width: 1599px) {
    .atlas-overlay > div {
        width: 50% !important;
    }
}

/**
* computer
*/

@media only screen and (max-width: 1199px) {
    .atlas-overlay > div {
        width: 55% !important;
    }
}

/**
* Small computer, Tablet landscape
*/

@media only screen and (max-width: 1024px) {
    .atlas-overlay > div {
        width: 65% !important;
    }
    .card img {width: 50%;}
   
}


/**
* Tablet portrait
*/

@media only screen and (max-width: 768px) {
    .atlas-overlay > div {
        transform: none !important;
        width: 100% !important;
        height: auto !important;
        aspect-ratio: 16/9 !important;
        bottom: 0 !important;
        right: 0 !important;
        top: auto !important;
    }
    .info-box {
        --info-margin: 70px;
    }

    .card-container.home {
        padding: 0;
        height: calc(100vh  - var(--gallery-height));
        width: 100%;
    }
    .card-container.home .card {
        margin: 0;
        height: 100%;
        border-radius: 0;
        flex-direction: column;
        overflow-y: auto;
    }
    .card-container.home .card img{
        border-radius: 0 !important;
        width: 100%;
        max-height: 50vh;
    }
}

/**
* Phone landscape ONLY
*/

@media only screen and (max-width: 850px) and (orientation:landscape) {

}

/**
*    Phones
*/

@media screen and (max-width: 500px) {
    .info-box {
        --info-margin: 30px;
    }
    .controls {
        overflow-x: auto;
        gap: 10px;
        padding: 0 10px;
        font-size: 0.9em;
    }
    .controls > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .controls input[type="range"] {
        width: 20vw;
    }
    .controls button {
        padding: 0.6em 0.5em;
    }
    .player h2 {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 421px) {

}

